body {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

img {
    max-width: 260px;
}

.infobox {
    width: 280px;
    height: auto;
}

.infobox__header {
    position: relative;
}

.akce {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    background-color: indianred;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-size: medium;
}

.infobox__text {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.cena {
    font-weight: bold;
}

.skrtnuti {
    text-decoration: line-through;
}

.sleva {
    margin: 0em;
    padding: 0em;
    font-size: smaller;
}

.button {
    text-decoration: none;
    color:dodgerblue;
    font-size: small;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 1em;
    padding-left: 1em;
    border: 3px solid dodgerblue;
    font-weight: bold;
}

.button:hover {
    border-color: white;
}

.infobox__footer {
    display: flex;
    justify-content: space-between;
}
